// Bootstrap
//@import "~bootstrap/scss/bootstrap";

//! Variables
@import "variables/colors.scss";
@import "variables/spacing.scss";
@import "variables/typography.scss";
//? @use helps w/ scope but Laravel preloads Bootstrap so @import overrides it easily
//? With tweaking, @use works as intended. (Delete Bootstrap npm, fix mix.js, and index.blade, etc.)
//? BUT here @forward ensures 'Variables' can be used anywhere this stylesheet is '@import/@use'd

//! Fonts
@import "https://fonts.googleapis.com/css?family=Nunito"; //? @import can grab actual urls. @use cannot

//! Utilities
@import "app_colors.scss";
@import "borders.scss";
@import "dimensions.scss";
@import "flex.scss";
@import "margins.scss";
@import "paddings.scss";

//! Modules
@import "forms.scss";

//! App-Wide Stylings
//* Ideally only very basic or very specific CSS rules declared here

//* Example of a very basic one
body {
    background-color: $cyan;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #fff !important;
}

.ui.divider {
    background: #ffffff50 !important;
}

.text-centered {
    text-align: center;
}

//* The following two relate to the navbar links (this first one needs more specificity though)
.only.row .item {

    //? Removes thin translucent lines to replace with different types of borders
    &:hover {
        border-bottom: 1px solid white;
    }

    &::before {
        background: none;
    }

    .right.menu .item::before {
        background: none;
    }
}

//* Example of a very specific case
@media screen and (max-width: 991px) {
    .router-link-active {
        border-top: 1px solid white !important;
    }
}

.router-link-active {
    background-color: $cyan !important;
    border-bottom: 1px solid white !important;

    &:hover {
        background-color: $light-accent !important;
    }
}