@import 'variables/typography.scss';
@import 'variables/colors.scss';

%label-skin {
  color: white !important;
  @include set-text-shadow(2px, black);
}

.form-label {
  @extend %label-skin;
  margin-bottom: 0.5em !important;
  @media screen and (min-width: 500px) {
    font-size: larger !important;
  }
  @media screen and (max-width: 499px) {
    font-size: medium !important;
  }
}

.form-validation-err {
  @include set-text-shadow(1px, black);
  color: $red;
}