// Body
//$body-bg: #1d2728; //? Overrides !default version in Bootstrap!

// Tables
//$table-dark-hover-bg: #869ac6; //! Polo Blue (Lavender-ish)

//! App Colors 
//! Key Colors to the following pallete
$brand-blue: #1168C6;
// Dark Shade Background - #1D2728
// Light Shade Text - #FFFFFF
$light-accent: #63a2c6; //! Light Accent Fountain Blue
$dark-accent: #134364; //! Dark Accent Cello
//! Colormind Idea
$blue: #216bcb; //? Primary
$cyan: #231f2b; //? Info
$green: #419d78; //? Success
$yellow: #bc8b3d; //? Warning
$red: #f44336; //? Green
$gray: #999999;
$white: #ffffff;